body{
    color: #fff;
	text-align: center;
    background: #696969;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #fff;
  font-weight: 100;
  font-size: 2.5rem;
  margin: 2.5rem 0 1.25rem;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 1.85rem;
}

#clockdiv > div{
	padding: 0.625em;
	border-radius: 0.19em;
	background: #4d4d4d;
	display: inline-block;
}

#clockdiv div > span{
	padding: 1em;
	border-radius: 0.19em;
	background: #1f1f1f;
	display: inline-block;
}

.smalltext{
	padding-top: 0.31rem;
	font-size: 1rem;
}

#logo{
    margin: 0 auto;
    background-image: url("../img/bg-count.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 15.7rem;
    height: 15.7rem;
}